<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
  
  hello =(){
    return"Helloword!";

  }
  

  // hello = () => "Helloworld!"

  // hello =() =>{
  //   return(
  //       "Helloworld!"
  //   )

  //   hello = function()
  // }

  // hello = function (){
  //   return("Hello World");
  // }
  // hello = () => {
  //   return("Hello World");
  // }

  // hello =() => "Hello World";

  // hello =(val) => "hello" + val

  // hello = val => "hello" +val
  
  document.getElementById(test).innerHTML = hello("World");
</script>
</body>
</html>
