* {
    padding: 10;
    margin: 10;
}

body {
    background-color: beige;
}

div {
    font-size: larger;
    font: bold;
    color: brown;
}

p {
    font-size: larger;
    font: bold;
    color: green;
}